Django
djangorestframework
Pillow
psycopg2-binary
django-cors-headers
django-filter
djangorestframework-simplejwt
drf-yasg
celery
redis
stripe
paypalrestsdk
django-storages
boto3
gunicorn
whitenoise
django-allauth
django-rest-auth
django-taggit
django-mptt
django-ckeditor
django-crispy-forms
django-environ
django-debug-toolbar